/* 기본 설정 */
.mypage-total-box {
  display: flex;  /* flexbox로 레이아웃을 설정 */
  min-height: 100vh;
  width: 100%;  /* 100%로 설정, 화면 크기에 맞게 크기 자동 조정 */
}

/* 사이드바 스타일 */
.mypage-sidebar {
  width: 20%;  /* 사이드바의 너비를 20%로 설정 */
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;  /* 화면에 고정 */
  height: 100vh;  /* 화면 전체 높이를 차지 */
  top: 0;
  left: 0;
  border-right: 1px solid #ddd;
  box-sizing: border-box;  /* padding을 포함한 크기 조정 */
}
.mypage-dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.mypage-dropdown-item {
  display: block;
  padding: 10px;
  color: #333;
  background-color: #f4f4f4;
  text-decoration: none;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  
}

.mypage-dropdown-item:hover {
  background-color: #f4f4f4;
  color: white;
}
.mypage-sidebar-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.mypage-sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.mypage-sidebar-item {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.mypage-sidebar-item:hover {
  background-color: #ddd;
  border-radius: 5px;
}

/* 본문 스타일 */
.mypage-content {
  margin-left: 20%;  /* 사이드바를 제외한 나머지 공간 차지 */
  padding: 20px;
  width: 80%;  /* 본문 영역은 80% */
  box-sizing: border-box;  /* padding을 포함한 크기 조정 */
}

/* 프로필 박스 스타일 */
.mypage-box {
  margin-bottom: 20px;
}

/* 제목 스타일 */
.mypage-h1, .mypage-h2 {
  font-size: 32px;
  color: #333;
}
.mypage-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* 가로 배치 */
  width: 100%;
  height: 90vh;
  background-color: rgb(116, 114, 114);
}
.mypage-box-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; /* 양쪽 박스가 동일한 크기 */
  height: 100%;
}
.mypage-box-profile-2{
  display: flex;
  flex-direction: column; /* 내부 요소를 세로 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  width: 50%; /* 양쪽 박스 동일한 크기 */
  height: 100%;
}
.mypage-p-total-box{
  flex-direction: column;
}
/* 이미지 박스 */
.mypage-img-box-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
  height: 40%;
  width: 70%;
  border-radius: 20%;
  background-color: #ddd;
}

.mypage-img-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.mypage-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  background-color: aqua;
  margin-top: 20px;
}
.mypage-img-2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.mypage-p-total-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
  height: 80%;
  width: 90%;
  border-radius: 10px;
  background-color: #ddd;
}
.mypage-p {
  font-size: 18px;
}